doctype html
html
    head
        title student
        script(src="11111")
    body
        table
            tr
                th 学号
                th 姓名
            each item in message
                tr
                    td #{item.studentId}
                    td #{item.studentName}             