doctype html
html
    head
        title socketio
    body
        h1 Please Say Something
        input#inp
        ul#chat_ul
        script(src="/js/jquery.min.js")
        script(src="/js/socket.io.js")
        script(src="/js/method.js")